.CodeMirror {
  height: 100%;
  font-family: inherit;
  font-size: inherit;

  background: royalblue;
}

.CodeMirror-hints {
  font-family: inherit;
}
.CodeMirror-hint {
  max-width: 52em;
  max-height: 4.5em;
  overflow-x: inherit;
  overflow-y: hidden;
  white-space: normal;
}

.CodeMirror .cm-trailingspace {
  background: linear-gradient(to right, cornflowerblue -5%, transparent 50%, gold 100%)
}