.portabled-completion-icon {
  border: solid 1px black;
  font-size: 0.8;
  display: inline-block;
  width: 1.5em;
  margin: 2px;
  margin-right: 0.3em;
  text-align: center;
  border-radius: 3px;
}

.portabled-completion-icon-local {
  border-color: fuchsia;
  color: fuchsia;
  background: lavenderblush;
}

.portabled-completion-icon-function {
  border-color: green;
  color: green;
  background: honeydew;
}

.portabled-syntax-moduleName {
  opacity: 0.3;
}

.portabled-syntax-className {
  opacity: 0.5;
}

.portabled-syntax-propertyName {
  font-weight: bold;
}

.portabled-syntax-methodName {
  font-weight: bold;
}

.portabled-syntax-keyword {
  opacity: 0.7;
}

.portabled-syntax-current {
  font-weight: bold;
}

.portabled-syntax-docs {
  opacity: 0.8;
}


.portabled-match {
  background: silver;
  background: rgba(20, 120, 0, 0.08);
  background: linear-gradient(rgba(20,120,0,0), rgba(20,120,0,0.02), rgba(20,120,0,0.2));
  border-bottom: solid 2px rgba(20,120,0,0.3);
}

.portabled-match-current {
  background: silver;
  background: rgba(20, 120, 0, 0.08);
  background: linear-gradient(rgba(20,120,0,0), rgba(20,120,0,0.01), rgba(20,120,0,0.2));
  border-bottom: solid 3px rgba(20,120,0,0.3);
}


.portabled-diag-syntactic {
  background: solid coral 3px;
  background: rgba(255, 127, 80, 0.4);
  border-bottom: solid 4px tomato;
}

.portabled-diag-semantic {
  background: gold;
  background: rgba(255, 215, 0, 0.4);
  border-bottom: solid 4px orange;
}
