.portabled-extra-content {
  float: left;
  width: 75%;
  height: 100%;
  margin-right: -1em;
}

.portabled-extra-content .portabled-branding-area {
  height: 60%;
  padding: 1em;
  overflow: auto;
}

.portabled-extra-content .portabled-scrollable-bottom {
  height: 36%;
  overflow: auto;
}

.portabled-extra-content .portabled-links {
  float: left;
  font-size: 90%;
  width: 50%;
}

.portabled-extra-content .portabled-credits {
  float: left;
  height: 36%;
  width: 50%;
}
