.portabled-main-content {
  position: fixed !important;
  position: absolute;
  left: 0px; top: 0px;
  height: 100%;
  width: 85%;
  padding-bottom: 2em;
}


.portabled-flyout-scroller {
  position: fixed !important;
  position: absolute;
  left: 0px; top: 0px; width: 100%; height: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}

.portabled-flyout-scroller-bg {
  height: 100%;
  width: 130%;
  padding-left: 85%;
}

.portabled-flyout {
  border-top: solid 1px silver;
  position: relative;
  height: 100%;
  background: #E8E8E8;
  z-index: 100;
  overflow: hidden;
  padding-bottom: 2em;
}

