html {
  box-sizing: border-box;
  background: black;
  color: silver;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
  overflow: hidden;
}
