.portabled-file-tree {
  padding-left: 1.5em;
}

.portabled-file-tree ul {
  margin: 1px;
  margin-left: 0px;
  padding-left: 0.4em;
}

.portabled-file-tree ul li {
  margin: 0px;
  padding: 0px;
}

.portabled-file-tree li .portabled-file-name {
  padding: 2px;
}

.portabled-file-tree li .portabled-dir-name {
  padding: 2px;
  font-weight: bold;
}

.portabled-file-tree ul li .portabled-file-name:hover {
  padding: 1px;
  border: solid 1px gold;
}

.portabled-file-tree ul li .portabled-dir-name:hover {
  padding: 1px;
  border: solid 1px gold;
}


.portabled-file-tree li.portabled-dir {
  list-style: circle;
  cursor: default;
}

.portabled-file-tree .portabled-dir-collapsed ul {
  display: none;
}


.portabled-file-tree li.portabled-file {
  list-style: square;
}

.portabled-file-tree .portabled-file-selected {
  background: cornflowerblue;
}


.portabled-file-content {
  display: none;
}
