<div class=teapo-file-list
   data-bind='event: { keydown: keyDown }, click: fileList.treeClick'>
  <div data-bind='template: { name: "folder-template", foreach: fileList.folders }'></div>
  <div data-bind='template: { name: "file-template", foreach: fileList.files }'></div>
</div>


<div class=teapo-navigator-expandable-toolbar
   data-bind='event: { keydown: keyDown }'>
  <div class=teapo-navigator-expand-area
     data-bind='visible: toolbarExpanded'>

    <button data-bind='attr: { title: "remove "+(fileList.selectedFile() ? fileList.selectedFile().name() : " selected document") }, click: deleteSelectedFile'
      class=teapo-action-button>
      delete
    </button>
    <br>

    <button data-bind='click: saveHtml' class=teapo-action-button>
      html
    </button>
    <br>

    <button data-bind='click: saveZip' class=teapo-action-button>
      zip
    </button>

    <hr>
    <button data-bind='click: loadText' class=teapo-action-button>Load text...</button>
    <button data-bind='click: loadBase64' class=teapo-action-button>Load base64...</button>
    <button data-bind='click: loadZip' class=teapo-action-button>Load zip...</button>
  </div>

  <button title='add new file' data-bind='click: newFileClick' class=teapo-new-file-button> + </button>

  <button title='show actions' data-bind='click: toggleToolbar' class=teapo-show-actions-button> &nbsp; &gt;&gt; &nbsp; </button>

</div>

<div data-bind='attach: attachToHost($element), event: { keydown: keyDown }' class=teapo-content>
  <div class=teapo-content-inner>
    <div class=teapo-content-inner-title>
      Teapo: an integrated development environment in a bottle.
    </div>
    v0.4h<br>
    <br>
      Virtual file system stashed right inside this very file. And intelligent editor with syntax highlight and code completion.
      And HTML/CSS/JS inliner. And TypeScript compiler.
      <br>
      <br>
      Save the whole state of everything with HTML/ZIP commands from the bottom bar. Or just press Ctrl+S in a desktop browser.
      <br>
      <br>
      More to come in <a href="http://mihailik.github.com/teapo/teapo2.html">v0.5j</a>:<br>
      <li>Drag-drop files/folders</li>
      <li>CoffeeScript language support</li>
      <li>Refactoring features: rename, extract function etc.</li>
      <li>GitHub integration</li>
      <li>Special powers in node-webkit, Chrome app and similar hosts</li>
      <li>Support for IE6 and other de-facto bastards</li>
      <li>Proper encryption (in case Edward Snowden needs an IDE too)</li>
      <br>
      <br>
      <div style="font-size: 90%; float: right; padding-left: 1em;">
        Teapo uses JS libraries:<br>
        <a href=http://codemirror.net>CodeMirror</a><br>
        Knockout.js<br>
        Zip.js
      </div>
      <div class=teapo-content-inner-technical>
        Source code (TypeScript) is <a href='https://github.com/mihailik/teapo'>available on GitHub</a>.
        Or open the source within <a href='http://mihailik.github.io/teapo/teapo.html'>Teapo itself</a>
        (to rebuild open teapo.html in the file tree and press Ctrl+B).
      </div>
      <br>
      <br>
      Author: <a href=mailto:mihailik@gmail.com>Oleg Mihailik</a>
  </div>
</div>


<div class=teapo-status data-sbind='text: statusText, event: { keydown: keyDown }'></div>