<div class=teapo-file-list>
  <button data-sbind='click: newFile' style='display: block;'> ...new </button>
  <div data-bind='template: { name: "folder-template", foreach: fileList.folders }'></div>
  <div data-bind='template: { name: "file-template", foreach: fileList.files }'></div>
</div>

<div data-bind='attach: attachToHost($element)' class=teapo-content>
  Teapo &mdash; text editor confined to a small place. Select a file on the left to start.
</div>

<button style='position: fixed; right: 0px; top: 0px;' data-sbind='visible: activeDocument'>
    delete <span data-sbind='text: activeDocument() ? activeDocument().name : null, click: deleteActiveFile'></span>
</button>

<div class=teapo-status data-sbind='text: statusText'></div>