<div class=teapo-file-list>
  <div data-bind='template: { name: "folder-template", foreach: fileList.folders }'></div>
  <div data-bind='template: { name: "file-template", foreach: fileList.files }'></div>
</div>

<div class=teapo-navigator-toolbar>
  <button title='add new file' data-bind='click: newFileClick'> + </button>
  <button data-bind='attr: { title: "remove "+(fileList.selectedFile() ? fileList.selectedFile().name() : " selected document") }, click: deleteSelectedFile'> - </button>

  <button data-bind='click: saveZip'>
    <div class=teapo-small-button>zip</div>
  </button>
  <a href='#' data-bind='attr: { download: saveFileName() }' class=teapo-small-button> 
    html
  </a>
</div>

<div data-bind='attach: attachToHost($element)' class=teapo-content>
  Teapo: text editor confined to a small place. Select a file on the left to start.
</div>


<div class=teapo-status data-sbind='text: statusText'></div>