body {
  margin: 0px; padding: 0px;
  font-family: Corbel, Ubuntu, Roboto, Tahoma, sans-serif;
  font-size: 9pt;
  overflow: hidden;
}
html {
  overflow: hidden;
  margin: 0px; padding: 0px;
}
.teapo-page {
  position: fixed;
  left: 0px; top: 0px; right: 0px; bottom: 0px;
  overflow: hidden;
}
.teapo-boot {
  width:100%;
  height: 100%;
  overflow: hidden;
  background: #FCFCFC;
  padding: 2em;
  font-size: 200%;
  opacity: 0.6;
}

.teapo-file-list {
  position: fixed;
  top: 0px; bottom: 2em;
  width: 20%;
  background: white;
  overflow: auto;
  padding-bottom: 4px;
}
.teapo-file-item {
  border: solid 2px transparent;
  border-right: none;
  cursor:pointer;
  padding-left: 5px;
  padding-right:4px;
}
.teapo-file-item:hover {
  background: #ffe244;
}
.teapo-file-item-selected {
  border: solid 2px silver;
  border-right: none;
}

.teapo-navigator-expandable-toolbar {
  position: fixed;
  bottom: 0px;
  width: 20%;
  height: 2em;
  border-top: solid 1px silver;
  background: #E8E8E8;
}
.teapo-navigator-expand-area {
  background: #E0E0E0;
  position: fixed;
  bottom: 2em;
  width: 20%;
  padding-top: 4px;
  border-top: solid 1px silver;
}
.teapo-navigator-expand-area .teapo-action-button {
  font-size: inherit;
  width: 100%;
}
.teapo-new-file-button {
  font-size: inherit;
}
.teapo-show-actions-button {
  width: 5em;
}

.teapo-status {
  position: fixed;
  bottom: 0px;
  left: 20%; right: 0px;
  height: 2em;
  background: #F0F0F0;
  border-top: solid 1px silver;
  padding-top: 1px;
  border-left: solid 1px silver;
  font-size: 95%;
}

.cm-matchhighlight {
  border: solid 1px rgba(100, 149, 237, 0.44);
  background: rgba(100, 149, 237, 0.1);
  margin: -1px;
}

.teapo-syntax-error {
  background: rgba(255, 205, 162, 0.42);
}
.teapo-semantic-error {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
  background-position: bottom left;
  background-repeat: repeat-x;
}
.teapo-gutter-syntax-error {
  background: brown;
  width: 100%;
  height: 0.8em;
  cursor: pointer;
}
.teapo-gutter-semantic-error {
  border: solid 2px gold;
  width: 90%;
  height: 0.8em;
  cursor: pointer;
}
.teapo-errors {
  width: 0.5em;
  background: silver;
}
.teapo-errors-semantic {
  width: 0.5em;
  background: goldenrod;
  opacity: 0.5;
}
.teapo-errors-syntactic {
  width: 0.5em;
  background: tomato;
  opacity: 0.5;
}

.teapo-symbol {
  border: solid 1px rgba(100, 149, 237, 0.44);
  margin: -1px;
}
.teapo-symbol-cursor {
  border: solid 1px rgba(100, 149, 237, 0.44);
  background: rgba(100, 149, 237, 0.1);
  margin: -1px;
}

.teapo-content {
  position: fixed;
  left: 20%;
  top: 0px;
  bottom: 2em;
  padding-bottom: 1px;
  height: auto;
  right:0px;
  overflow: hidden;
  border: none;
  border-left: solid 1px silver;
  font: inherit;
  background: white;
}

.teapo-content-inner {
  font-size: 150%;
  padding: 2em;
  background: #F8F8F8;
  color: gray;
  height: 100%;
  overflow: none;
}

.CodeMirror {
  height: 100%;
  font-family: inherit;
}
.CodeMirror-activeline-background {
  background: #f8f8f8;
  border: solid 1px #f0f0f0;
}
.CodeMirror-hints {
  font-family: inherit;
}
.CodeMirror-hint {
  max-width: 52em;
  max-height: 4.5em;
  overflow-x: inherit;
  overflow-y: hidden;
  white-space: normal;
}

.cm-tab {
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
   background-position: right;
   background-repeat: no-repeat;
}

textarea.teapo-editor {
  overflow: auto;
}